################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fulllab - Desafio C Sharp/v15/Server/sqlite3/db.lock
